## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

df = pd.merge(mouse_metadata, study_results, how="inner", on="Mouse ID")

# Display the data table for preview

df.head(35)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
20,x401,Capomulin,Female,16,15,0,45.000000,0
21,x401,Capomulin,Female,16,15,5,45.473753,0
22,x401,Capomulin,Female,16,15,10,39.113891,0
23,x401,Capomulin,Female,16,15,15,39.776250,0
24,x401,Capomulin,Female,16,15,20,36.065835,0
25,x401,Capomulin,Female,16,15,25,36.617120,0
26,x401,Capomulin,Female,16,15,30,32.915292,0
27,x401,Capomulin,Female,16,15,35,30.206825,0
28,x401,Capomulin,Female,16,15,40,28.167397,0
29,x401,Capomulin,Female,16,15,45,28.484033,0
30,m601,Capomulin,Male,22,17,0,45.000000,0
31,m601,Capomulin,Male,22,17,5,41.408591,1
32,m601,Capomulin,Male,22,17,10,36.825367,1
33,m601,Capomulin,Male,22,17,15,35.464612,1
34,m601,Capomulin,Male,22,17,20,34.255732,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Drug Regimen        1893 non-null   object
 2   Sex                 1893 non-null   object
 3   Age_months          1893 non-null   int64
 4   Weight (g)          1893 non-null   int64
 5   Timepoint           1893 non-null   int64
 6   Tumor Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 133.1+ KB

In [3]:
# Checking the number of mice.

num_mice = df["Mouse ID"].nunique()
print(f"Number of mice = {num_mice}")

Number of mice = 249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

are_dupes = df.duplicated(subset=["Mouse ID", "Timepoint"])

df[are_dupes]

dupe_mouseids = df[are_dupes]["Mouse ID"].unique()

dupe_mouseids

array(['g989'], dtype=object)

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 

for id in dupe_mouseids:
    print(f"{id} REPORT\n")
    print(df[df["Mouse ID"] == id])

g989 REPORT

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
908     g989     Propriva  Female          21          26          0
909     g989     Propriva  Female          21          26          0
910     g989     Propriva  Female          21          26          5
911     g989     Propriva  Female          21          26          5
912     g989     Propriva  Female          21          26         10
913     g989     Propriva  Female          21          26         10
914     g989     Propriva  Female          21          26         15
915     g989     Propriva  Female          21          26         15
916     g989     Propriva  Female          21          26         20
917     g989     Propriva  Female          21          26         20
918     g989     Propriva  Female          21          26         25
919     g989     Propriva  Female          21          26         30
920     g989     Propriva  Female          21          26         35

     Tumor Volume (mm3)  Metastatic Sites
908           45.000000                 0
909           45.000000                 0
910           48.786801                 0
911           47.570392                 0
912           51.745156                 0
913           49.880528                 0
914           51.325852                 1
915           53.442020                 0
916           55.326122                 1
917           54.657650                 1
918           56.045564                 1
919           59.082294                 1
920           62.570880                 2

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

dupe_mouse = dupe_mouseids[0]

clean_df = df.loc[df["Mouse ID"] != dupe_mouse, :]

clean_df.reset_index(drop=True)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1875,z969,Naftisol,Male,9,30,25,63.145652,2
1876,z969,Naftisol,Male,9,30,30,65.841013,3
1877,z969,Naftisol,Male,9,30,35,69.176246,4
1878,z969,Naftisol,Male,9,30,40,70.314904,4
1879,z969,Naftisol,Male,9,30,45,73.867845,4

In [8]:
# Checking the number of mice in the clean DataFrame.
old_num_mice = num_mice
num_mice = clean_df["Mouse ID"].nunique()
print(f"Now there are {num_mice} mice; before there were {old_num_mice} mice.")

Now there are 248 mice; before there were 249 mice.

## Summary Statistics

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

df = clean_df.copy()

regimens = clean_df["Drug Regimen"].unique().tolist()

regimens

clean_df["Drug Regimen"].value_counts()

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Stelasyn     181
Infubinol    178
Ceftamin     178
Propriva     148
Name: Drug Regimen, dtype: int64

In [ ]:
drug_groups = clean_df.groupby("Drug Regimen")
tum_vols = drug_groups["Tumor Volume (mm3)"]
tum_vols.describe()

In [ ]:
tum_mean = tum_vols.mean()
tum_mean.name = "tum_mean"
print(tum_mean)

In [ ]:
tum_median = tum_vols.median()
tum_median.name = "tum_median"
print(tum_median)

In [ ]:
tum_variance = tum_vols.var()
tum_variance.name = "tum_variance"
print(tum_variance)

In [ ]:
tum_std = tum_vols.std()
tum_std.name = "tum_std"
print(tum_std)

In [ ]:
tum_sem = tum_vols.sem()
tum_sem.name = "tum_sed"
print(tum_sem)

In [ ]:
final_df = pd.DataFrame(
 
    {
        "tum_mean" : tum_mean,
        "tum_median" : tum_median,
        "tum_variance" : tum_variance,
        "tum_std" : tum_std,
        "tum_sem" : tum_sem
    }
)
     
final_df.sort_index()

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line


df
single_line_df = df.groupby("Drug Regimen").agg({"Tumor Volume (mm3)": ["mean", "median", np.var, np.std, st.sem]}).sort_index()
single_line_df

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

sum_timep = df.groupby("Drug Regimen")["Timepoint"].sum()
sum_timep.plot.bar()

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

sum_timep = df.groupby("Drug Regimen")["Timepoint"].sum()

sum_timep_barplot = sum_timep.plot(kind="bar", title="Total Timepoints per Drug Regimen")
sum_timep_barplot.set_xlabel("Drug Regimen")
sum_timep_barplot.set_ylabel("Count")

plt.show()
plt.tight_layout()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

by_sex = df.groupby("Sex")["Mouse ID"].nunique()

labels = ["Male", "Female"]
colors = ["orange", "blue"]
explode = (0.1, 0)


by_sex.plot.pie(labels=labels, colors=colors, explode=explode, autopct="%1.1f%%", shadow=True, 
                title="Distribution by Sex", startangle=140)

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

labels = ["Male", "Female"]
colors = ["orange", "blue"]
explode = (0.1, 0)

by_sex_pieplot = by_sex.plot(kind="pie", explode=explode, colors=colors, labels=labels, 
                             title="Distribution by Sex", startangle=140, autopct="%1.1f%%")

plt.show()
plt.tight_layout()

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse

mask = df.groupby(["Drug Regimen", "Mouse ID"])[["Timepoint", "Tumor Volume (mm3)"]].max()

In [ ]:
treatments = mask.index.levels[0].tolist()
treatments

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)

print(treatments)

In [ ]:
# Create empty list to fill with tumor vol data (for plotting)

tumor_dict = {}

In [ ]:
# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
## Locate the rows which contain mice on each drug and get the tumor volumes

for drug in treatments:
    
    tumor_dict[drug] = sorted((mask.loc[(drug), ['Tumor Volume (mm3)']])["Tumor Volume (mm3)"].values.tolist())

    
    # print(f"{drug}\n{mask.loc[(drug), ['Tumor Volume (mm3)']]}")

In [ ]:
## add subset 
for drug in treatments:
    print(f"{drug} final tumor volumes:\n {tumor_dict[drug]}\n\n")
    
    
    
    
## Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

for drug in treatments:

    data = np.array(tumor_dict[drug])
    q3, q2, q1 = np.percentile(data, [75, 50, 25])
    iqr = q3 - q1
    

    fig1, ax1 = plt.subplots()
    ax1.set_title(f"{drug} Treatment")
    ax1.set_xlabel("Final Tumor Volumes")
    ax1.set_ylabel("(mm3)")
    ax1.boxplot(data)
    plt.tight_layout()
    plt.show()
    
    print(f"{drug} OUTLIERS REPORT:\n")
    print(f"The lower quartile of temperatures is: {q1}")
    print(f"The upper quartile of temperatures is: {q3}")
    print(f"The interquartile range of temperatures is: {iqr}")
    print(f"The the median of temperatures is: {q2}")

    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    print(f"Values below {lower_bound} could be outliers.")
    print(f"Values above {upper_bound} could be outliers.\n\n")

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

df = clean_df.copy()
tv_vs_tp_capomulin = df.loc[(df["Drug Regimen"] == "Capomulin"), ["Mouse ID", "Tumor Volume (mm3)", "Timepoint"]]

s185 = tv_vs_tp_capomulin.loc[(tv_vs_tp_capomulin["Mouse ID"] == "s185"), ["Tumor Volume (mm3)", "Timepoint"]]

s185.plot.line(x="Timepoint", y="Tumor Volume (mm3)", title="s185 on Capomulin", ylabel="Vol. (mm3)")

In [ ]:
capo_mice = tv_vs_tp_capomulin["Mouse ID"].unique().tolist()

for mouse in sorted(capo_mice):
    df_name = f"{mouse}_df"
    df_name = tv_vs_tp_capomulin.loc[(tv_vs_tp_capomulin["Mouse ID"] == mouse), ["Tumor Volume (mm3)", "Timepoint"]]
    df_name.plot.line(x="Timepoint", y="Tumor Volume (mm3)", title=f"{mouse} on Capomulin", ylabel="Vol. (mm3)")

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

df_capomulin = df[df["Drug Regimen"] == "Capomulin"]
df_capomulin.plot.scatter(x="Tumor Volume (mm3)", y="Weight (g)", c="Blue")

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen